/*-------------
STYLE.CSS Carte de noel
---------------*/

/*- - - - - - - - - - KAMELIA - -


/*- - - - - - - - - - FIN KAMELIA - -*/




/*- - - - - - - - - - NAIM - - -*/


/*- - - - - - - - - - FIN NAIM - - -*/




/*- - - - - - - - - - TOM - - -*/

/*body, html {
	background:url(../img/decorexterieur2.svg)no-repeat;
}*/

@keyframes anim {
	0% {
		transform: translateX(1vw);
	}


	100% {
		transform: translateX(45vw);
	}
}

.icon-xs {
	width: 120px; 
	height: 120px;
	animation: anim 5s;

}

/*- - - - - - - - - - FIN TOM - - -*/












